.show_password_content {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    text-decoration: underline;
    height: 29px;
    text-transform: uppercase;
}

.show_password_content:hover span{
    background-color: var(--black);
    color: var(--yellow);
}

.show_password_icon {
    width: 24px;
    height: 24px;
}