.note_container {
  border: 1px solid var(--black);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 1rem;
  gap: 1rem;
  min-height: 54px;
  background-color: var(--white);
}

@media (min-width: 768px) {
  .note_container {
    padding: 1rem 1.5rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  } 
}

.note_container h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.button_container {
  display: flex;
  gap: 0.5rem;
}

.button_container svg {
  width: 20px;
  height: 20px;
}

@media (min-width: 768px) {
  .button_container svg {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}

.dateLabel {
  font-weight: 700;
}

.note_category_container {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}

@media (min-width: 768px) {
  .note_category_container {
    flex-direction: row;
    align-items: center;
  }
}

.note_category_chip {
  height: 25px;
  color: rgba(0, 0, 0, 0.87);
  background-color: var(--yellow);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  font-size: 11px;
}

.checkbox_container {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: var(--black);
}

.checkbox_persistent{
  display: none;
}

label.persistent_label {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}

label.persistent_label::before {
  content: "";
  display: inline-block;
  cursor: pointer;
  flex-shrink: 0;
  height: 24px;
  margin: 0 10px 0 0;
  pointer-events: all;
  width: 24px;
  border: 3px solid var(--light-grey);
  background-color: var(--white);
  position: absolute;
  left: 0;
  top: -15px;
  transition: border 0.30s cubic-bezier(0.3, 0, 0, 1);
}

.checkbox_container:hover label.persistent_label::before {
    border: 3px solid var(--black);
}

.persistent_label::after {
  content: "\2713";
  font-size: 24px;
  color: var(--yellow);
  position: absolute;
  top: -12px;
  left: 5px;
  visibility: hidden;
}

.checkbox_persistent:checked + .persistent_label::before {
  background-color: var(--black);
  border: 3px solid var(--black);
}

.checkbox_persistent:checked + .persistent_label::after {
  visibility: visible;
}

.container_left {
  display: flex;
  gap: .5rem;
}
