.form_container {
  padding: 25px 20px;
}

.form {
  width: 100%;
  max-width: 100%;
  max-height: 80vh;
}

.form h1 {
  color: var(--black);
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-top: 0;
}

.button_container {
  display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1em;
}

.multiselect_container {
  display: flex;
  flex-wrap: wrap;
}

.multiselect_option {
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.multiselect_option input {
  margin-right: 5px;
}

.custom_select {
  position: relative;
  border: 1px solid var(--black);
  margin-bottom: 1rem;
}

.select_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  min-height: 17px;
}

.selected_options {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13.3px;
}

.dropdown_icon {
  position: absolute;
  font-size: 14px;
  transition: transform 0.3s;
  top: 15px;
  right: 10px;
}

.dropdown_icon.open {
  transform: rotate(180deg);
}

.options_container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #ccc;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  z-index: 1;
}

.option {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.option input {
  margin-right: 5px;
}

.floating_label {
  position: absolute;
  pointer-events: none;
  left: 20px;
  top: 17px;
  transition: 0.2s ease-out;
  font-size: 12px;
  color: var(--gray);
}

.select_with_option .floating_label,
.select_open .floating_label {
  top: -8px;
  left: 15px;
  font-size: 11px;
  background-color: var(--white);
  padding: 0 5px;
}

.create_category_container {
  margin-bottom: 20px;
}

.create_category_button {
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    padding: 0 1rem;
    min-height: 45px;
    position: relative;
}

.create_category_button span {
  display: grid;
  place-items: center;
}

.create_category_button:hover {
  cursor: pointer;
  transition: background 0.1s ease-out 0s;
  background: #f2f2f2;
  border-radius: 3px;
}


.custom_input {
  background: var(--white);
  border: 1px solid var(--black);
  border-radius: 0;
  box-sizing: border-box;
  color: var(--black);
  margin: 0;
  padding: 15px;
  height: 50px;
  width: 100%;
  margin-bottom: 4px;
  outline: none;
}

.custom_input:focus {
  border: none;
  box-shadow: rgb(239,193,49) 0px 0px 0px 2px inset;
}

.formCreateCategory {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.buttonConfirmCreateCategory {
  border: none;
  background: transparent;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.input_disabled {
  cursor: not-allowed;
}